---
import IDELayout from '../layouts/IDELayout.astro';
import '../styles/global.css';
---
<IDELayout>
  <div style="padding: 32px; color: var(--text);">
    Editor content goes here
  </div>
</IDELayout>
